[submodule "reference/GamesMaster"]
	path = reference/GamesMaster
	url = git@github.com:zdiemer/GamesMaster.git
	branch = master
[submodule "reference/GamePicker"]
	path = reference/GamePicker
	url = git@github.com:zdiemer/GamePicker.git
	branch = main
